* {
  margin: 0 auto;
  padding: 0;
}
ul {
  list-style: none;
}

.h1 {
  color: blue;
  width: 100%;
  text-align: center;
}
.main {
  text-align: center;
  padding: 92px 92px;
}

.poke-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: center;
  padding: 0;
  gap: 1rem;
}
.pokemon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
  gap: 1rem;
}

.pokemon-item:hover {
  background-color: blueviolet;
}
.action-input__list {
  width: 100%;
  text-align: center;
}
.selector-list {
  padding: 0.5rem;
  border-radius: 10px;
}
.navigation-buttons__list {
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
}
.nav-btn {
  padding: 1rem;
  width: 150px;
  border-radius: 50px;
}
